### DATA PREPROCESING

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np
from statsmodels.tsa.api import ExponentialSmoothing
import matplotlib.pyplot as plt

In [2]:
# Read file
# tsv_file='FILENAME.tsv'

# # Create datafram
# df=pd.read_table(tsv_file,sep='\t')

# ### COnvert datetime into standard format
# df['timestamp'] = pd.to_datetime(df['timestamp'],unit='ms')

In [3]:
# ### COnvert date time into standard format
# df['timestamp'] = pd.to_datetime(df['timestamp'],unit='ms')

# SAVE THE DATAFRAME AS CSV

In [4]:
# df.to_csv('position_history_new_starts.csv', sep=',')

In [5]:
df = pd.read_csv('position_history_new_starts.csv')

In [6]:
#### 'id' Column provide no information, hence kick it out of dataframe

df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
del df['id']

In [7]:
df.head()

               address        x         y         z                timestamp
0  -359037136983245745  9.85794 -0.549547  1.852340  2018-07-01 00:01:19.184
1  -359037136983245745  9.78791 -0.549547  1.846210  2018-07-01 00:01:20.444
2  -359037136983245745  9.69488 -0.549547  1.846210  2018-07-01 00:01:21.720
3  4751451578702838656  9.76520 -0.279698  1.446820  2018-07-01 00:01:24.146
4  -145401774635637016  9.24891 -0.606032  0.984861  2018-07-01 00:01:24.181

In [8]:
### Choose the addresses with maximum appearances in the dataframe

max_addresses = df['address'].value_counts()[:10]
max_addresses = dict(max_addresses)
addresses = [] 
for key in max_addresses.keys():
    addresses.append(key)
    
df_train = df[df['address'].isin(addresses)]

In [9]:
# df_train.head()
df_train['address'].unique()

array([ -359037136983245745, -8762245971590074211, -7573228149069718550,
       -6958684199778844888, -9100101032468893356, -6196490120761152012,
        5106149975160207938, -1864515622891090337,  8405123468908889237,
       -4360601383218869533], dtype=int64)

In [10]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1250536 entries, 0 to 5019363
Data columns (total 5 columns):
address      1250536 non-null int64
x            1250536 non-null float64
y            1250536 non-null float64
z            1250536 non-null float64
timestamp    1250536 non-null object
dtypes: float64(3), int64(1), object(1)
memory usage: 57.2+ MB

In [11]:
# df_train.to_csv('position_history_10.csv', sep=',')

In [4]:
df_train = pd.read_csv('position_history_10.csv')

### Divide the data frame into different chunks based on addresses

In [6]:
df1 = df_train.copy()

max_addresses = df1['address'].value_counts()[:10]
max_addresses = dict(max_addresses)
addresses = [] 
for key in max_addresses.keys():
    addresses.append(key)

In [7]:
df_0 = df1[df1['address'] == addresses[0]]
df_1 = df1[df1['address'] == addresses[1]]

In [8]:
df_2 = df1[df1['address'] == addresses[2]]
df_3 = df1[df1['address'] == addresses[3]]
df_4 = df1[df1['address'] == addresses[4]]
df_5 = df1[df1['address'] == addresses[5]]
df_6 = df1[df1['address'] == addresses[6]]
df_7 = df1[df1['address'] == addresses[7]]
df_8 = df1[df1['address'] == addresses[8]]
df_9 = df1[df1['address'] == addresses[9]]

In [17]:
df_1.to_csv('df_1.csv', sep=',')

In [18]:
df_2.to_csv('df_2.csv', sep=',')

In [19]:
df_3.to_csv('df_3.csv', sep=',')

In [20]:
df_4.to_csv('df_4.csv', sep=',')

In [ ]:
df_5.to_csv('df_5.csv', sep=',')

In [9]:
df_6.to_csv('df_6.csv', sep=',')

In [10]:
df_7.to_csv('df_7.csv', sep=',')

In [11]:
df_8.to_csv('df_8.csv', sep=',')

In [12]:
df_9.to_csv('df_9.csv', sep=',')

### READ THE SPLITTED FILES

In [41]:
df_0 = pd.read_csv('df_0.csv', index_col=0)
df_1 = pd.read_csv('df_1.csv', index_col=0)
df_2 = pd.read_csv('df_2.csv', index_col=0)
df_3 = pd.read_csv('df_3.csv', index_col=0)
df_4 = pd.read_csv('df_4.csv', index_col=0)
df_5 = pd.read_csv('df_5.csv', index_col=0)
df_6 = pd.read_csv('df_6.csv', index_col=0)
df_7 = pd.read_csv('df_7.csv', index_col=0)
df_8 = pd.read_csv('df_8.csv', index_col=0)
df_9 = pd.read_csv('df_9.csv', index_col=0)

In [42]:
df_0.head()

                  address        x        y        z                timestamp
1185 -6196490120761152012 -47.9602 -59.9457  6.24468  2018-07-01 00:55:41.678
1186 -6196490120761152012 -46.4965 -60.0888  6.25606  2018-07-01 00:55:42.923
1187 -6196490120761152012 -45.1626 -60.3775  6.46899  2018-07-01 00:55:44.163
1189 -6196490120761152012 -44.1827 -60.4705  6.57457  2018-07-01 00:55:45.412
1190 -6196490120761152012 -43.9995 -60.4705  6.58655  2018-07-01 00:55:46.704

### FEATURE ENGINEERING DATA

In [8]:

def mean_std_agg(df):
    
    ops_m = ['xm','ym','zm']
    ops = ['x','y','z']
    for i,op in enumerate(ops_m):
        # data['column'].rolling(5).mean()
        df[op] = df[ops[i]].rolling(5).mean()
    
    ops_std = ['x_std','y_std','z_std']
    for k,op in enumerate(ops_std):
        df[op] = df[ops[k]].rolling(5).mean()
        
    df = df.iloc[4:]
    return df

### SAVE THE DATA AS CSV : PLAY SAFE ;)

In [56]:
df0 = mean_std_agg(df_0)
df0.to_csv('df0_mstd.csv', sep=',',index=False)

In [60]:
df0.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 207685 entries, 1190 to 3956315
Data columns (total 11 columns):
address      207685 non-null int64
x            207685 non-null float64
y            207685 non-null float64
z            207685 non-null float64
timestamp    207685 non-null object
xm           207685 non-null float64
ym           207685 non-null float64
zm           207685 non-null float64
x_std        207685 non-null float64
y_std        207685 non-null float64
z_std        207685 non-null float64
dtypes: float64(9), int64(1), object(1)
memory usage: 19.0+ MB

In [6]:
df0 = pd.read_csv('df0_mstd.csv',index_col = 0)

data_train0,data_test0 = train_test_split(df0.iloc[116000:], test_size=0.2, shuffle=False)

In [7]:
data_train0.head()

,x,y,z,timestamp,xm,ym,zm,x_std,y_std,z_std
address,,,,,,,,,,
-6196490120761152012,-17.5969,-55.016,2.19766,2018-08-13 05:59:42.465,-17.61336,-55.016,2.055568,-17.61336,-55.016,2.055568
-6196490120761152012,-17.5969,-55.016,2.47688,2018-08-13 05:59:47.526,-17.60252,-55.016,2.154828,-17.60252,-55.016,2.154828
-6196490120761152012,-17.5969,-55.016,2.59673,2018-08-13 05:59:48.822,-17.59690,-55.016,2.272560,-17.59690,-55.016,2.272560
-6196490120761152012,-17.5969,-55.016,2.68508,2018-08-13 05:59:50.136,-17.59690,-55.016,2.407962,-17.59690,-55.016,2.407962
-6196490120761152012,-17.5969,-55.016,2.86085,2018-08-13 05:59:51.439,-17.59690,-55.016,2.563440,-17.59690,-55.016,2.563440

### MULTI VARIATE SMOOTHING

In [ ]:
y_hat_avg = data_test0.copy()
fit1 = ExponentialSmoothing(np.asarray(data_train0['x']) ,seasonal_periods=7 ,trend='add', seasonal='add').fit()
y_hat_avg['Holt_Winter'] = fit1.forecast(len(data_test0))

In [ ]:
plt.figure(figsize=(16,8))
plt.plot( data_train0['x'], label='Train')
plt.plot(data_test0['x'], label='Test')
plt.plot(y_hat_avg['Holt_Winter'], label='Holt_Winter')
plt.legend(loc='best')
plt.show()

### RMSE

In [ ]:
rms = sqrt(mean_squared_error(test.Count, y_hat_avg.avg_forecast))
print(rms)

RMSE = 109.545990803

In [45]:
df1 = mean_std_agg(df_1)
df1.to_csv('df1_mstd.csv', sep=',',index=False)

In [46]:
df2 = mean_std_agg(df_2)
df2.to_csv('df2_mstd.csv', sep=',',index=False)

In [47]:
df3 = mean_std_agg(df_3)
df3.to_csv('df3_mstd.csv', sep=',',index=False)

In [48]:
df4 = mean_std_agg(df_4)
df4.to_csv('df4_mstd.csv', sep=',',index=False)

In [49]:
df5 = mean_std_agg(df_5)
df5.to_csv('df5_mstd.csv', sep=',',index=False)

In [50]:
df6 = mean_std_agg(df_6)
df6.to_csv('df6_mstd.csv', sep=',',index=False)

In [51]:
df7 = mean_std_agg(df_7)
df7.to_csv('df7_mstd.csv', sep=',',index=False)

In [52]:
df8 = mean_std_agg(df_8)
df8.to_csv('df8_mstd.csv', sep=',')

In [53]:
df9 = mean_std_agg(df_9)
df9.to_csv('df9_mstd.csv', sep=',')

In [55]:
df9.head()

,Unnamed: 0.1,address,x,y,z,timestamp,xm,ym,zm,x_std,y_std,z_std
97,918,-9100101032468893356,9.16125,-0.550243,1.46915,2018-07-01 00:39:13.904,9.241466,-0.550243,1.356054,9.241466,-0.550243,1.356054
98,920,-9100101032468893356,9.10209,-0.550243,1.62278,2018-07-01 00:39:15.152,9.200988,-0.550243,1.455260,9.200988,-0.550243,1.455260
99,925,-9100101032468893356,9.10209,-0.550243,1.54435,2018-07-01 00:39:18.954,9.163950,-0.550243,1.498976,9.163950,-0.550243,1.498976
100,928,-9100101032468893356,9.17077,-0.550243,1.49124,2018-07-01 00:39:20.230,9.146910,-0.550243,1.519212,9.146910,-0.550243,1.519212
101,930,-9100101032468893356,9.17077,-0.550243,1.48559,2018-07-01 00:39:21.524,9.141394,-0.550243,1.522622,9.141394,-0.550243,1.522622

In [35]:
df1 = df1.set_index('timestamp')

In [39]:
df1.tail()

## SPLIT THE DATA INTO TRAIN AND TEST

In [77]:
from sklearn.model_selection import train_test_split

data_train,data_test = train_test_split(df1, test_size=0.2, shuffle=False)

In [83]:
data_train.tail(10)

,address,x,y,z,xm,ym,zm,x_std,y_std,z_std
timestamp,,,,,,,,,,
2018-09-01 04:17:12.646,8405123468908889237,-40.4185,-60.3757,0.035010,-39790.852695,19651.072344,-85765.135852,170258.707641,84631.752343,366666.301581
2018-09-01 04:17:13.904,8405123468908889237,-40.4185,-60.4327,0.053147,-39790.852695,19651.072344,-85765.135852,170258.707641,84631.752343,366666.301581
2018-09-01 04:17:19.050,8405123468908889237,-40.4185,-60.4157,0.053147,-39790.852695,19651.072344,-85765.135852,170258.707641,84631.752343,366666.301581
2018-09-01 04:17:20.429,8405123468908889237,-40.4185,-60.4569,0.053147,-39790.852695,19651.072344,-85765.135852,170258.707641,84631.752343,366666.301581
2018-09-01 04:17:21.699,8405123468908889237,-40.2439,-61.0378,0.053147,-39790.852695,19651.072344,-85765.135852,170258.707641,84631.752343,366666.301581
2018-09-01 04:17:22.961,8405123468908889237,-40.2305,-61.0378,0.053147,-39790.852695,19651.072344,-85765.135852,170258.707641,84631.752343,366666.301581
2018-09-01 04:17:25.513,8405123468908889237,-40.2305,-60.5563,0.053147,-39790.852695,19651.072344,-85765.135852,170258.707641,84631.752343,366666.301581
2018-09-01 04:17:26.770,8405123468908889237,-40.2305,-60.5145,0.053147,-39790.852695,19651.072344,-85765.135852,170258.707641,84631.752343,366666.301581
2018-09-01 04:17:30.493,8405123468908889237,-40.2305,-60.5145,0.075185,-39790.852695,19651.072344,-85765.135852,170258.707641,84631.752343,366666.301581
2018-09-01 04:17:31.773,8405123468908889237,-40.2305,-60.6496,0.075185,-39790.852695,19651.072344,-85765.135852,170258.707641,84631.752343,366666.301581

In [79]:
data_train_f = data_train.copy()

In [80]:
data_train_f = data_train_f.sort_values(by='timestamp')

In [81]:
data_train_f.head()

,address,x,y,z,xm,ym,zm,x_std,y_std,z_std
timestamp,,,,,,,,,,
2018-07-01 00:01:19.184,-359037136983245745,9.85794,-0.549547,1.85234,-6.030332,-25.466882,1.472113,11.943495,14.323799,2.805825
2018-07-01 00:01:20.444,-359037136983245745,9.78791,-0.549547,1.84621,-6.030332,-25.466882,1.472113,11.943495,14.323799,2.805825
2018-07-01 00:01:21.720,-359037136983245745,9.69488,-0.549547,1.84621,-6.030332,-25.466882,1.472113,11.943495,14.323799,2.805825
2018-07-01 00:01:24.189,-359037136983245745,9.66634,-0.549547,1.84621,-6.030332,-25.466882,1.472113,11.943495,14.323799,2.805825
2018-07-01 00:01:25.444,-359037136983245745,9.63370,-0.549547,1.84621,-6.030332,-25.466882,1.472113,11.943495,14.323799,2.805825