### DATA PREPROCESING

In [1]:
import pandas as pd

# Read file
tsv_file='FILENAME.tsv'

# Create datafram
df=pd.read_table(tsv_file,sep='\t')

### COnvert datetime into standard format
df['timestamp'] = pd.to_datetime(df['timestamp'],unit='ms')

In [28]:
### COnvert date time into standard format
df['timestamp'] = pd.to_datetime(df['timestamp'],unit='ms')

# SAVE THE DATAFRAME AS CSV

In [ ]:
df.to_csv('position_history_new_starts.csv', sep=',')

In [30]:
df.head()

,id,address,x,y,z,timestamp
0,5364352,-359037136983245745,9.85794,-0.549547,1.852340,2018-07-01 00:01:19.184
1,5364354,-359037136983245745,9.78791,-0.549547,1.846210,2018-07-01 00:01:20.444
2,5364356,-359037136983245745,9.69488,-0.549547,1.846210,2018-07-01 00:01:21.720
3,5364358,4751451578702838656,9.76520,-0.279698,1.446820,2018-07-01 00:01:24.146
4,5364359,-145401774635637016,9.24891,-0.606032,0.984861,2018-07-01 00:01:24.181