### DATA PREPROCESING

In [1]:
import pandas as pd

In [2]:
# Read file
# tsv_file='FILENAME.tsv'

# # Create datafram
# df=pd.read_table(tsv_file,sep='\t')

# ### COnvert datetime into standard format
# df['timestamp'] = pd.to_datetime(df['timestamp'],unit='ms')

In [3]:
# ### COnvert date time into standard format
# df['timestamp'] = pd.to_datetime(df['timestamp'],unit='ms')

# SAVE THE DATAFRAME AS CSV

In [4]:
# df.to_csv('position_history_new_starts.csv', sep=',')

In [5]:
df = pd.read_csv('position_history_new_starts.csv')

In [6]:
#### 'id' Column provide no information, hence kick it out of dataframe

df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
del df['id']

In [7]:
df.head()

               address        x         y         z                timestamp
0  -359037136983245745  9.85794 -0.549547  1.852340  2018-07-01 00:01:19.184
1  -359037136983245745  9.78791 -0.549547  1.846210  2018-07-01 00:01:20.444
2  -359037136983245745  9.69488 -0.549547  1.846210  2018-07-01 00:01:21.720
3  4751451578702838656  9.76520 -0.279698  1.446820  2018-07-01 00:01:24.146
4  -145401774635637016  9.24891 -0.606032  0.984861  2018-07-01 00:01:24.181

In [8]:
### Choose the addresses with maximum appearances in the dataframe

max_addresses = df['address'].value_counts()[:10]
max_addresses = dict(max_addresses)
addresses = [] 
for key in max_addresses.keys():
    addresses.append(key)
    
df_train = df[df['address'].isin(addresses)]

In [9]:
# df_train.head()
df_train['address'].unique()

array([ -359037136983245745, -8762245971590074211, -7573228149069718550,
       -6958684199778844888, -9100101032468893356, -6196490120761152012,
        5106149975160207938, -1864515622891090337,  8405123468908889237,
       -4360601383218869533], dtype=int64)

In [10]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1250536 entries, 0 to 5019363
Data columns (total 5 columns):
address      1250536 non-null int64
x            1250536 non-null float64
y            1250536 non-null float64
z            1250536 non-null float64
timestamp    1250536 non-null object
dtypes: float64(3), int64(1), object(1)
memory usage: 57.2+ MB

In [11]:
# df_train.to_csv('position_history_10.csv', sep=',')

In [4]:
df_train = pd.read_csv('position_history_10.csv')

### Divide the data frame into different chunks based on addresses

In [6]:
df1 = df_train.copy()

max_addresses = df1['address'].value_counts()[:10]
max_addresses = dict(max_addresses)
addresses = [] 
for key in max_addresses.keys():
    addresses.append(key)

In [7]:
df_0 = df1[df1['address'] == addresses[0]]
df_1 = df1[df1['address'] == addresses[1]]

In [8]:
df_2 = df1[df1['address'] == addresses[2]]
df_3 = df1[df1['address'] == addresses[3]]
df_4 = df1[df1['address'] == addresses[4]]
df_5 = df1[df1['address'] == addresses[5]]
df_6 = df1[df1['address'] == addresses[6]]
df_7 = df1[df1['address'] == addresses[7]]
df_8 = df1[df1['address'] == addresses[8]]
df_9 = df1[df1['address'] == addresses[9]]

In [16]:
df_0.to_csv('df_0.csv', sep=',')

In [17]:
df_1.to_csv('df_1.csv', sep=',')

In [18]:
df_2.to_csv('df_2.csv', sep=',')

In [19]:
df_3.to_csv('df_3.csv', sep=',')

In [20]:
df_4.to_csv('df_4.csv', sep=',')

In [ ]:
df_5.to_csv('df_5.csv', sep=',')

In [9]:
df_6.to_csv('df_6.csv', sep=',')

In [10]:
df_7.to_csv('df_7.csv', sep=',')

In [11]:
df_8.to_csv('df_8.csv', sep=',')

In [12]:
df_9.to_csv('df_9.csv', sep=',')

In [13]:
### For each unique 

def mean_std_agg(df):
    
    ops_m = ['xm','ym','zm']
    ops = ['x','y','z']
    for i,op in enumerate(ops_m):
        df[op] = df[ops[i]].mean()
    
    ops_std = ['x_std','y_std','z_std']
    for k,op in enumerate(ops_std):
        df[op] = df[ops[k]].std()
    return df

In [ ]:
df0 = df_0.groupby(['timestamp']).apply(mean_std_agg)

In [ ]:
df1 = df_1.groupby(['timestamp']).apply(mean_std_agg)

In [ ]:
df2 = df_2.groupby(['timestamp']).apply(mean_std_agg)

In [ ]:
df3 = df_3.groupby(['timestamp']).apply(mean_std_agg)

In [ ]:
df4 = df_4.groupby(['timestamp']).apply(mean_std_agg)

In [ ]:
df5 = df_5.groupby(['timestamp']).apply(mean_std_agg)

In [ ]:
df6 = df_6.groupby(['timestamp']).apply(mean_std_agg)

In [ ]:
df7 = df_7.groupby(['timestamp']).apply(mean_std_agg)

In [ ]:
df8 = df_8.groupby(['timestamp']).apply(mean_std_agg)

In [ ]:
df9 = df_9.groupby(['timestamp']).apply(mean_std_agg)

In [41]:
df1.head()

,id,address,x,y,z,timestamp,xm,ym,zm,x_std,y_std,z_std
0,5364352,-359037136983245745,9.85794,-0.549547,1.852340,2018-07-01 00:01:19.184,-6.030332,-25.466882,1.472113,11.943495,14.323799,2.805825
1,5364354,-359037136983245745,9.78791,-0.549547,1.846210,2018-07-01 00:01:20.444,-6.030332,-25.466882,1.472113,11.943495,14.323799,2.805825
2,5364356,-359037136983245745,9.69488,-0.549547,1.846210,2018-07-01 00:01:21.720,-6.030332,-25.466882,1.472113,11.943495,14.323799,2.805825
3,5364358,4751451578702838656,9.76520,-0.279698,1.446820,2018-07-01 00:01:24.146,182.237780,222.499561,-26.098645,2071.417147,2613.991468,1892.094121
4,5364359,-145401774635637016,9.24891,-0.606032,0.984861,2018-07-01 00:01:24.181,2.786885,-9.008559,3.809645,16.536861,17.667422,3.739920

### SAVE THE DATA AS CSV : PLAY SAFE ;)

### MEAN AND STANDARD DEVIATION OF X,Y,Z VALUES AND AGGREGATE THEM BACK INTO NEW DATAFRAME

In [42]:
df1.to_csv('position_history_new_starts_mstd.csv', sep=',')

In [ ]:
# df1 = pd.read_csv('position_history_new_starts_mstd.csv')

In [35]:
df1 = df1.set_index('timestamp')

In [39]:
df1.tail()

## SPLIT THE DATA INTO TRAIN AND TEST

In [77]:
from sklearn.model_selection import train_test_split

data_train,data_test = train_test_split(df1, test_size=0.2, shuffle=False)

In [83]:
data_train.tail(10)

,address,x,y,z,xm,ym,zm,x_std,y_std,z_std
timestamp,,,,,,,,,,
2018-09-01 04:17:12.646,8405123468908889237,-40.4185,-60.3757,0.035010,-39790.852695,19651.072344,-85765.135852,170258.707641,84631.752343,366666.301581
2018-09-01 04:17:13.904,8405123468908889237,-40.4185,-60.4327,0.053147,-39790.852695,19651.072344,-85765.135852,170258.707641,84631.752343,366666.301581
2018-09-01 04:17:19.050,8405123468908889237,-40.4185,-60.4157,0.053147,-39790.852695,19651.072344,-85765.135852,170258.707641,84631.752343,366666.301581
2018-09-01 04:17:20.429,8405123468908889237,-40.4185,-60.4569,0.053147,-39790.852695,19651.072344,-85765.135852,170258.707641,84631.752343,366666.301581
2018-09-01 04:17:21.699,8405123468908889237,-40.2439,-61.0378,0.053147,-39790.852695,19651.072344,-85765.135852,170258.707641,84631.752343,366666.301581
2018-09-01 04:17:22.961,8405123468908889237,-40.2305,-61.0378,0.053147,-39790.852695,19651.072344,-85765.135852,170258.707641,84631.752343,366666.301581
2018-09-01 04:17:25.513,8405123468908889237,-40.2305,-60.5563,0.053147,-39790.852695,19651.072344,-85765.135852,170258.707641,84631.752343,366666.301581
2018-09-01 04:17:26.770,8405123468908889237,-40.2305,-60.5145,0.053147,-39790.852695,19651.072344,-85765.135852,170258.707641,84631.752343,366666.301581
2018-09-01 04:17:30.493,8405123468908889237,-40.2305,-60.5145,0.075185,-39790.852695,19651.072344,-85765.135852,170258.707641,84631.752343,366666.301581
2018-09-01 04:17:31.773,8405123468908889237,-40.2305,-60.6496,0.075185,-39790.852695,19651.072344,-85765.135852,170258.707641,84631.752343,366666.301581

In [79]:
data_train_f = data_train.copy()

In [80]:
data_train_f = data_train_f.sort_values(by='timestamp')

In [81]:
data_train_f.head()

,address,x,y,z,xm,ym,zm,x_std,y_std,z_std
timestamp,,,,,,,,,,
2018-07-01 00:01:19.184,-359037136983245745,9.85794,-0.549547,1.85234,-6.030332,-25.466882,1.472113,11.943495,14.323799,2.805825
2018-07-01 00:01:20.444,-359037136983245745,9.78791,-0.549547,1.84621,-6.030332,-25.466882,1.472113,11.943495,14.323799,2.805825
2018-07-01 00:01:21.720,-359037136983245745,9.69488,-0.549547,1.84621,-6.030332,-25.466882,1.472113,11.943495,14.323799,2.805825
2018-07-01 00:01:24.189,-359037136983245745,9.66634,-0.549547,1.84621,-6.030332,-25.466882,1.472113,11.943495,14.323799,2.805825
2018-07-01 00:01:25.444,-359037136983245745,9.63370,-0.549547,1.84621,-6.030332,-25.466882,1.472113,11.943495,14.323799,2.805825